{% extends 'base_template.html' %}

{% block body_class %}
  blog
{% endblock %}

{% block main %}

<div class="page-header page-header-small" style="background-image: url('/assets/img/blog-bg.jpg');">
  <div class="filter"></div>
  <div class="content-center">
      <div class="container">
          <h1>Latest News & Updates</h1>
          <h3>Stay informed with our recent developments.</h3>
      </div>
  </div>
</div>
<div class="main">
  <div class="section">
    <div class="blog-4">
      <div class="container">
        {% for post in posts %}
          {% if loop.index0 is divisibleby 2 %}
            <div class="row">
          {% endif %}
          <div class="col-md-6">
            <div class="card card-plain card-blog text-center">
              <div class="card-image">
                <img class="img img-raised" src="{{ post.image }}"/>
              </div>
              <div class="card-body">
                <h3 class="card-title">
                  <a href="{{ url_for('main.blog_post', slug=post.slug)}}"> {{ post.title }}</a>
                </h3>
                <p class="card-description">
                  {{ post.short_desc }}
                </p>
              </br>
                <div class="row d-flex flex-wrap align-items-center">
                  <div class="col-md-6">
                    <a href="{{ url_for('main.blog_post', slug=post.slug)}}" class="btn btn-round"> Read More</a>
                  </div>
                  <div class="col-md-6 mr-auto" valign="center" style="font-size: medium;">
                    <i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date }}
                  </div>
                </div>
                {% if admin %}
                  <a href="{{ url_for('admin.delete_post', slug=post.slug)}}" class="btn btn-error btn-round"> Delete Post </a>
                {% endif %}
              </div>
            </div>
          </div>
          {% if loop.index0 is not divisibleby 2 %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
