{% extends 'base_template.html' %}

{% block body_class %}
  about-us
{% endblock %}

{% block main %}

<div class="page-header page-header-small" style="background-image: url('assets/img/medicines_bg.jpg');">
  <div class="filter"></div>
  <div class="content-center">
      <div class="container">
          <h1>Hello, <br /> We are Curezone Pharma!</h1>
          <h3>Let us tell you more about what we do.</h3>
      </div>
  </div>
</div>
<div class="main">
  <div class="section">
      <div class="container">
          <h3 class="title-uppercase">We build great products.</h3>
          <p>Curezone is a leading PCD pharma company that provides high-quality pharmaceuticals and healthcare Products to people across India. 
              With a focus on innovation and the use of cutting-edge technology, Curezone is committed to improving the lives of people and making healthcare accessible to everyone.
          </p>
          <h3 class="title-uppercase">We <i class="fa fa-heart heart"></i>&nbsp; what we do.</h3>
          <p>The company boasts a wide range of products that covers all major therapeutic segments and is backed by a team of experienced professionals who are dedicated to ensuring the highest standards of quality and customer satisfaction. 
              With a strong network of distributors and a well-established reputation in the industry, Curezone is poised for continued growth and success in the years to come. 
          </p>
      </div>
  </div>
</div>

{% endblock %}
