{% extends 'base_template.html' %}

{% block body_class %}
  blog
{% endblock %}

{% block main %}

<div class="page-header page-header-small" style="background-image: url('/assets/img/blog-bg.jpg');">
  <div class="filter"></div>
  <div class="content-center">
      <div class="container">
          <h1>Latest News & Updates</h1>
          <h3>Stay informed with our recent developments.</h3>
      </div>
  </div>
</div>
<div class="main">
  <div class="section">
    <div class="blog-4">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="card card-plain card-blog text-center">
              <div class="card-image">
                <a href="javascript:;">
                  <img class="img img-raised" src="assets/img/sections/val-vesa.jpg" />
                </a>
              </div>
              <div class="card-body">
                <h6 class="card-category text-warning">Travel</h6>
                <h3 class="card-title">
                  <a href="javascript:;">Learning different cultures through travel</a>
                </h3>
                <p class="card-description">
                  A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I
                  enjoy with my whole heart. I am alone, and feel the charm of existence in this spot.
                </p>
                <br />
                <a href="javascript:;" class="btn btn-warning btn-round"> Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-plain card-blog text-center">
              <div class="card-image">
                <a href="javascript:;">
                  <img class="img img-raised" src="assets/img/sections/rodrigo-ardilha.jpg" />
                </a>
              </div>
              <div class="card-body">
                <h6 class="card-category text-info">Travel</h6>
                <h3 class="card-title">
                  <a href="javascript:;">Kick-Ass ways to disappear like a Ninja!</a>
                </h3>
                <p class="card-description">
                  In the end, the judge ruled that Levandowski could be brought in and examined, but that each question
                  asked to him would be vetted in advance and should have some basis in evidence.
                </p>
                <br />
                <a href="javascript:;" class="btn btn-primary btn-round"> Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
