{% extends 'base_template.html' %}

{% block main %}

<div class="main">
<div class="section section-gray">
<div class="container">
<div class="row">
<div class="col-md-10 ml-auto mr-auto text-center">
<h2 class="title">Get in touch with us</h2>
<p> <i class="nc-icon nc-globe-2"></i> Mailing Address: Gupta Complex, First Floor, Nanhera Road, Kuldeep Nagar, Ambala Cantt, Haryana 133004</p>
<p> <i class="fa fa-phone"></i> Contact Nos:- +91-7056560081, +91-7056560082</p>
<p> <i class="fa fa-envelope"></i> Email Id(s):- info.curezonepharma@gmail.com, sales.curezonepharma@gmail.com </p>
</div>
</div>
<div class="row">
<div class="col-md-6 ml-auto mr-auto text-center">
<h3 class="title"><small>Find us on social networks</small></h3>
<button class="btn btn-just-icon btn-facebook">
<i class="fa fa-facebook"></i>
</button>
<button class="btn btn-just-icon btn-instagram">
<i class="fa fa-instagram"></i>
</button>
</div>
</div>
<div class="row">
<div class="col-md-6 ml-auto mr-auto text-center">
<h3 class="title"><small>Or drop us a note</small></h3>
<form class="contact">
<div class="row">
<div class="col-md-6">
<input type="text" class="form-control" placeholder="First Name">
</div>
<div class="col-md-6">
<input type="text" class="form-control" placeholder="Last Name">
</div>
</div>
<div class="row">
<div class="col-md-6">
<input type="text" class="form-control" placeholder="Email">
</div>
<div class="col-md-6">
<input type="text" class="form-control" placeholder="Subject">
</div>
</div>
<textarea class="form-control" placeholder="Message" rows="7"></textarea>
<div class="row">
<div class="col-md-6 ml-auto mr-auto">
<button class="btn btn-primary btn-block btn-round">Send </button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>

{% endblock %}