{% extends 'base_template.html' %}

{% block body_class %}
  contact-page
{% endblock %}

{% block main %}

<div class="main">
    <br><br>
    <div class="section section-black">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="card card-contact no-transition">
                      <h3 class="card-title text-center"><b>Contact Us</b></h3>
                        <div class="row">
                            <div class="col-md-5 ml-auto">
                                <div class="card-body">
                                    <div class="info info-horizontal">
                                        <div class="icon icon-info">
                                            <i class="nc-icon nc-pin-3" aria-hidden="true"></i>
                                        </div>
                                        <div class="description">
                                          <h4 class="info-title"><b>Find us at the office</b></h4>
                                            <p> Gupta Complex, First Floor,<br>
                                                Nanhera Road, Kuldeep Nagar,<br>
                                                Ambala Cantt, <br>
                                                Haryana<br>
                                                India - 133004
                                            </p>
                                        </div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-danger">
                                            <i class="nc-icon nc-badge" aria-hidden="true"></i>
                                        </div>
                                        <div class="description">
                                          <h4 class="info-title"><b>Give us a ring</b></h4>
                                            <p> +91-7056560081,<br>
                                                +91-7056560082
                                            </p>
                                        </div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-success">
                                            <i class="nc-icon nc-email-85" aria-hidden="true"></i>
                                        </div>
                                        <div class="description">
                                          <h4 class="info-title"><b>Drop us a email at</b></h4>
                                            <p> info.curezonepharma@gmail.com,<br>
                                                sales.curezonepharma@gmail.com
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 mr-auto">
                                <form role="form" id="contact-form" method="post">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">First name</label>
                                                    <input type="text" name="name" class="form-control" placeholder="First Name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Last name</label>
                                                    <input type="text" name="name" class="form-control" placeholder="Last Name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Contact No.</label>
                                            <input type="text" name="contact_no" class="form-control" placeholder="Contact Number" />
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Email address</label>
                                            <input type="email" name="email" class="form-control" placeholder="Email" />
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Your message</label>
                                            <textarea name="message" class="form-control" id="message" rows="6" placeholder="Message"></textarea>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-md-6">
                                                <button type="submit" class="btn btn-primary pull-right">Send Message</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="contactUsMap" class="big-map"></div>

{% endblock %}
