{% extends 'base_template.html' %}

{% block body_class %}
  landing-page
{% endblock %}

{% block main %}
<div class="page-carousel">
  <div class="filter"></div>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
              <div class="page-header" style="background-image: url('assets/img/carousel-bg-1.jpg');">
                  <div class="filter"></div>
                  <div class="content-center">
                      <div class="container">
                          <div class="row d-flex flex-wrap align-items-center">
                              <div class="col-md-6 text-left">
                                  <h1 class="title"><b>CUREZONE PHARMA></b></h1>
                                  <h5><b>Curezone Pharma is one of the Best PCD Pharma franchise Companies that operates in India due because of our world-class services, high-quality products, and unique monopoly-based marketing strategy. We offer ethically based PCD pharma franchises in India.</b>
                                  </h5>
                                  <br />
                                  <div class="buttons">
                                      <a href="https://m.facebook.com/curezonepharma" class="btn btn-neutral btn-link btn-just-icon" target="_blank">
                                        <i class="fa fa-facebook-square" style="font-size: 2.5em;"></i>
                                      </a>
                                      <a href="https://www.instagram.com/curezonepharma/" class="btn btn-neutral btn-link btn-just-icon" target="_blank">
                                        <i class="fa fa-instagram" style="font-size: 2.5em;"></i>
                                      </a>
                                      <a href="tel:+917056560081" class="btn btn-neutral btn-link btn-just-icon" target="_blank">
                                        <i class="fa fa-phone" style="font-size: 2.5em;"></i>
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="carousel-item">
              <div class="page-header" style="background-image: url('assets/img/medical_background.jpg')">
                  <div class="filter"></div>
                  <div class="content-center">
                      <div class="container">
                          <div class="row">
                              <div class="col-md-8 ml-auto mr-auto text-center">
                                  <h1 class="title"><b>PCD PHARMA FRANCHISE</b></h1>
                                  <h4><b>Being the top PHARMA PCD COMPANY in India, we offer an excellent opportunity to our associate with a lower investment budget. We offer you an entire range of products, with excellent prices and packaging quality</b>
                                  </h4>
                                  <br />
                                  <h5>Connect with us:</h5>
                                  <div class="buttons">
                                      <!-- <a href="javascript:;" class="btn btn-neutral btn-link btn-just-icon">
                                      <i class="fa fa-twitter"></i>
                                      </a> -->
                                      <a href="https://m.facebook.com/curezonepharma" class="btn btn-neutral btn-link btn-just-icon" target="_blank">
                                        <i class="fa fa-facebook-square" style="font-size: 2.5em;"></i>
                                        </a>
                                        <a href="https://www.instagram.com/curezonepharma/" class="btn btn-neutral btn-link btn-just-icon" target="_blank">
                                        <i class="fa fa-instagram" style="font-size: 2.5em;"></i>
                                        </a>
                                      <!-- <a href="javascript:;" class="btn btn-neutral btn-link btn-just-icon">
                                      <i class="fa fa-google-plus"></i>
                                      </a> -->
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="carousel-item">
              <div class="page-header" style="background-image: url('assets/img/carousel-bg-3.jpg');">
                  <div class="filter"></div>
                  <div class="content-center">
                      <div class="container">
                          <div class="row">
                              <div class="col-md-7 ml-auto text-right">
                                  <h2 class="title"><b>PARTNER WITH US</b></h2>
                                  <h5><b>We believe in customer centric approach and focus on customer needs and aims to provide best in class products</b>
                                  </h5>
                                  <br />
                                  <div class="buttons">
                                      <a href="/contact-us" class="btn btn-neutral btn-link btn-lg">
                                      <i class="fa fa-share-alt"></i> Contact Us
                                      </a>
                                      <a href="/our-products" class="btn btn-success btn-round btn-lg">
                                      <i class="fa fa-shopping-cart"></i> See Our Products
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <a class="left carousel-control carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="fa fa-angle-left"></span>
      <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="fa fa-angle-right"></span>
      <span class="sr-only">Next</span>
      </a>
  </div>
</div>
<div class="wrapper">
  <div class="section text-center landing-section">
      <div class="container">
          <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                  <h2 class="title">PCD Pharma Franchise</h2>
                  <h5>As the leading pharmaceutical PCD company in India, we present a great chance for individuals to become our associates with a minimal investment. This opportunity provides a distinctive business potential and promising avenues for growth to franchisees or distributors. We provide a wide range of products and also facilitate the creation of new market segments based on demand. Our offerings include all products and services at competitive rates, ensuring a monopoly for the franchise. This means that as an authorized distributor or wholesaler, you have exclusive rights to the brand's medicines of your choice. If you are seeking PCD pharma franchise companies in India for a monopoly-based setup or wish to establish your own pharmaceutical company with a monopoly in a specific region, we are here to offer our assistance.</h5>
                  <br />
                  <a href="/our-products" class="btn btn-danger btn-fill btn-round">See Details</a>
              </div>
          </div>
      </div>
  </div>
  <div class="features-2 section-dark">
      <div class="container">
          <div class="row">
              <div class="col-md-8 ml-auto mr-auto text-center">
                  <h2 class="title">A little about us</h2>
                  <h5 class="description"><b>Welcome to Curezone Pharma.
As a leading PCD Pharma Franchise company, we recognize the profound impact that our products and services can have on people's lives. We are driven by a deep sense of responsibility to make a positive difference in the world, and we believe that everyone deserves access to safe, effective, and affordable healthcare.</b>
                  </h5>
                  <br />
              </div>
          </div>
          <div class="row">
              <div class="col-md-4">
                  <div class="card">
                      <br/>
                      <div class="card-body text-center">
                          <h6 class="card-category">Mission</h6>
                          <div class="card-icon">
                              <i class="nc-icon nc-spaceship"></i>
                          </div>
                          <p class="card-description"><b>To contribute to humanity's pursuit of longer, healthier, and more fulfilling lives through our Pharma Franchise Marketing Model, with the aim of bringing joy.</b></p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card text-center">
                      <br>
                      <div class="card-body">
                          <h6 class="card-category">Vision</h6>
                          <div class="card-icon">
                              <i class="nc-icon nc-bulb-63"></i>
                          </div>
                          <p class="card-description"><b>To be a leading pharmaceutical company, while maintaining the utmost level of integrity and transparency in our business practices.</b></p>
                      </div>
                      <br>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card text-center">
                      <br>
                      <div class="card-body">
                          <h6 class="card-category">Values</h6>
                          <div class="card-icon">
                              <i class="nc-icon nc-hat-3"></i>
                          </div>
                          <p class="card-description"><b>We strive for integrity, quality, and customer satisfaction to ensure that we provide safe and effective products to help improve people's lives.</b></p>
                      </div>
                      <br/>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="section landing-section">
      <div class="container">
          <div class="row">
              <div class="col-md-10 ml-auto mr-auto">
                  <h2 class="text-center">Our featured Products</h2>
                  <br/><br/>
                  <div class="row d-flex flex-wrap align-items-center">
                      <div class="col-sm-3 col-md-3 mr-auto">
                          <img src="assets/img/ENZYMEE_SURUP_CURVE2.jpg" class="vertical-image img-rounded img-responsive" alt="Rounded Image">
                          <p class="text-center">ENZYMEE SYRUP</p>
                      </div>
                      <div class="col-sm-3 col-md-3 mr-auto" valign="center">
                          <img src="assets/img/CurcinCV_625.jpeg" class="vertical-image img-rounded img-responsive" alt="Rounded Image">
                          <p class="text-center">CURCIN-CV</p>
                      </div>
                      <div class="col-sm-3 col-md-3 mr-auto">
                          <img src="assets/img/CURELEX_2.jpg" class="vertical-image img-rounded img-responsive" alt="Rounded Image">
                          <p class="text-center">CURLEX</p>
                      </div>
                      <div class="col-sm-3 col-md-3 mr-auto">
                        <img src="assets/img/CROTEIN.jpg" class="vertical-image img-rounded img-responsive" alt="Rounded Image">
                        <p class="text-center">CROTEIN</p>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}
