{% extends 'base_template.html' %}

{% block body_class %}
  product-page
{% endblock %}

{% block main %}

<div class="page-header page-header-xs" style="background-image: url('assets/img/sections/products_header.jpg');">
    <div class="filter"></div>
</div>
<div class="main">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                  <h2><b>All Products</b></h2 >
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                  <th class="text-center"><b>#</b></th>
                                  <th><b>Type</b></th>
                                  <th><b>Name</b></th>
                                  <th><b>Composition</b></th>
                                  <th class="text-right"><b>Packing Form</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td>SYRUP</td>
                                    <td>ENYZMEE</td>
                                    <td>FUNGAL DIASTASE WITH
                                        PEPSIN ENZYME SYRUP
                                        (SUGAR FREE)</td>
                                    <td class="text-right">BOTTLE/200ML</td>
                                </tr>
                                <tr>
                                    <td class="text-center">2</td>
                                    <td>SYRUP</td>
                                    <td>CURLEX</td>
                                    <td>B-COMPLEX WITH L-
                                        LYSINE, MULTIVITAMINS &amp;
                                        ANTIOXIDENTS SYRUP
                                        (SUGAR FREE)</td>
                                    <td class="text-right">BOTTLE/200ML</td>
                                </tr>
                                <tr>
                                    <td class="text-center">3</td>
                                    <td>SYRUP</td>
                                    <td>LIVOCURE</td>
                                    <td>HARBAL LIVER TONIC
                                        (SUGAR FREE)</td>
                                    <td class="text-right">BOTTLE/200ML</td>
                                </tr>
                                <tr>
                                    <td class="text-center">4</td>
                                    <td>POWDER</td>
                                    <td>CROTEIN</td>
                                    <td>PROTEIN POWDER WITH
                                        DHA (CHOCOLATE
                                        POWDER) (SUGAR FREE)</td>
                                    <td class="text-right">200GM</td>
                                </tr>
                                <tr>
                                    <td class="text-center">5</td>
                                    <td>TABLETS</td>
                                    <td>VITRO-500</td>
                                    <td>AZITHROMYCIN TABLETS
                                        IP</td>
                                    <td class="text-right">BLISTER/10*3</td>
                                </tr>
                                <tr>
                                    <td class="text-center">6</td>
                                    <td>TABLETS</td>
                                    <td>CUREZINE-5</td>
                                    <td>LEVOCETIRIZINE
                                        DIHYDROCHLROIDE
                                        TABLETS IP</td>
                                    <td class="text-right">ALU ALU/10*10</td>
                                </tr>
                                <tr>
                                    <td class="text-center">7</td>
                                    <td>TABLETS</td>
                                    <td>ZONIM</td>
                                    <td>NIMUSULIDE AND
                                        PARACETAMOL TABLETS</td>
                                    <td class="text-right">BLISTER/10*10</td>
                                </tr>
                                <tr>
                                    <td class="text-center">8</td>
                                    <td>TABLETS</td>
                                    <td>ONDCURE-4</td>
                                    <td>ONDANSETRON ORALLY
                                        DISINTEGRATING
                                        TABLETS IP</td>
                                    <td class="text-right">ALU ALU/10*10</td>
                                </tr>
                                <tr>
                                    <td class="text-center">9</td>
                                    <td>TABLETS</td>
                                    <td>CURCIN-CV 625</td>
                                    <td>AMOXYCILLIN 500MG +
                                        CLAVULANIC ACID 125MG</td>
                                    <td class="text-right">STRIP/10*10</td>
                                </tr>
                                <tr>
                                    <td class="text-center">10</td>
                                    <td>TABLETS</td>
                                    <td>CUREZINE-M</td>
                                    <td>LEVOCETIRIZINE 5MG +
                                        MONTELUKAST 10MG</td>
                                    <td class="text-right">ALU ALU/10*10</td>
                                </tr>
                                <tr>
                                    <td class="text-center">11</td>
                                    <td>TABLETS</td>
                                    <td>AZONE-P</td>
                                    <td>ACECLOFENAC 100MG +
                                        PARACETAMOL 325MG</td>
                                    <td class="text-right">BLISTER/10*10</td>
                                </tr>
                                <tr>
                                    <td class="text-center">12</td>
                                    <td>TABLETS</td>
                                    <td>AZONE-SP</td>
                                    <td>ACECLOFENAC 100MG +
                                        PARACETAMOL 325MG +
                                        SERRATIOPEPIDASE
                                        15MG</td>
                                    <td class="text-right">ALU ALU/10*10</td>
                                </tr>
                                <tr>
                                    <td class="text-center">13</td>
                                    <td>TABLETS</td>
                                    <td>PRIDONE-DSR</td>
                                    <td>PANTAPRAZOLE 40MG
                                        (EC) +
                                        DOMPERIODONE(RC)
                                        30MG SR PELLETS</td>
                                    <td class="text-right">ALU ALU/10*10</td>
                                </tr>
                                <tr>
                                    <td class="text-center">14</td>
                                    <td>TABLETS</td>
                                    <td>REBIZONE-DSR</td>
                                    <td>RABEPRAZOLE SODIUM
                                        20MG (EC) &amp;
                                        DOMPERIODONE 30MG
                                        (EC) SR PELLETS</td>
                                    <td class="text-right">ALU ALU/10*10</td>
                                </tr>
                                <tr>
                                    <td class="text-center">15</td>
                                    <td>TABLETS</td>
                                    <td>CEFIXIE-200MG</td>
                                    <td>CEFIXIME 200MG DT</td>
                                    <td class="text-right">ALU ALU/10*10</td>
                                </tr>
                                <tr>
                                    <td class="text-center">16</td>
                                    <td>DRY-SYRUP</td>
                                    <td>CURCIN-CV 625</td>
                                    <td>AMOXYCILLIN 500MG +
                                        CLAVULANIC ACID 28.5MG
                                        WITH WFI</td>
                                    <td class="text-right">BOTTLE/30ML</td>
                                </tr>
                                <tr>
                                    <td class="text-center">17</td>
                                    <td>DRY-SYRUP</td>
                                    <td>CEFIXIE-100MG</td>
                                    <td>CEFIXIME 100MG</td>
                                    <td class="text-right">BOTTLE/30ML</td>
                                </tr>
                                <tr>
                                    <td class="text-center">18</td>
                                    <td>INJECTION</td>
                                    <td>PRIDONE-40MG</td>
                                    <td>PANTAPRAZOLE 40MG</td>
                                    <td class="text-right">VIAL/25*10 ML</td>
                                </tr>
                                <tr>
                                    <td class="text-center">19</td>
                                    <td>INJECTION</td>
                                    <td>ONDCURE-2ML</td>
                                    <td>ONDANSETRON 2ML</td>
                                    <td class="text-right">AMPOULE/10*1 ML</td>
                                </tr>
                                <tr>
                                    <td class="text-center">20</td>
                                    <td>INJECTION</td>
                                    <td>DICLONE-1ML</td>
                                    <td>DICLOFENAC 75MG /1ML</td>
                                    <td class="text-right">AMPOULE/10*1 ML</td>
                                </tr>
                                <tr>
                                    <td class="text-center">21</td>
                                    <td>INJECTION</td>
                                    <td>CEFTEM-1GM</td>
                                    <td>CEFTRIAXONE 1000MG</td>
                                    <td class="text-right">VIAL/25*10 ML</td>
                                </tr>
                                <tr>
                                    <td class="text-center">22</td>
                                    <td>INJECTION</td>
                                    <td>CEFTEM-1.5GM</td>
                                    <td>CEFTRIAXONE 1000MG +
                                        SULBACTUM 500MG</td>
                                    <td class="text-right">VIAL/25*10 ML</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
