{% extends 'base_template.html' %}

{% block body_class %}
  product-page
{% endblock %}

{% block main %}

<div class="page-header page-header-xs" style="background-image: url('assets/img/products_header.jpg');">
    <div class="filter"></div>
</div>
<div class="main">
    <div class="section">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-md-12 text-center">
                  <h2><b>Our Products</b></h2 >
                    <br />
                </div>
            </div>
            <div class="row d-flex flex-wrap align-items-center text-center">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs text-center" id="myTab" role="tablist">
                    <li class="nav-item">
                    <a class="nav-link active" id="tablets-tab" data-toggle="tab" href="#tablets" role="tab" aria-controls="tablets" aria-selected="true">Tablets</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" id="syrups-tab" data-toggle="tab" href="#syrups" role="tab" aria-controls="syrups" aria-selected="false">Syrups</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" id="injections-tab" data-toggle="tab" href="#injections" role="tab" aria-controls="injections" aria-selected="false">Injectables</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" id="supplement-tab" data-toggle="tab" href="#supplement" role="tab" aria-controls="supplement" aria-selected="false">Supplement</a>
                    </li>
                </ul>
            </div>
            <br><br>

            <div class="tab-content">
                <div class="tab-pane active" id="tablets" role="tabpanel" aria-labelledby="tablets-tab">
                    <div class="row d-flex flex-wrap align-items-center">
                        <div class="col-md-4 col-sm-4">
                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img src="assets/img/ONDCURE-4.jpeg" alt="Rounded Image" class="img-rounded img-responsive">
                                    <div class="card-body">
                                        <div class="card-description">
                                            <h5 class="card-title">ONDCURE-4</h5>
                                            <p class="card-description">ALU ALU/10*10</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img src="assets/img/VITHRO-500.jpeg" alt="Rounded Image" class="img-rounded img-responsive">
                                    <div class="card-body">
                                        <div class="card-description">
                                            <h5 class="card-title">VITHRO-500</h5>
                                            <p class="card-description">BLISTER/10*3</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img src="assets/img/REBIZONE-DSR.jpeg" alt="Rounded Image" class="img-rounded img-responsive">
                                    <div class="card-body">
                                        <div class="card-description">
                                            <h5 class="card-title">REBIZONE-DSR</h5>
                                            <p class="card-description">ALU ALU/10*10</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img src="assets/img/PRIDONE-DSR.jpeg" alt="Rounded Image" class="img-rounded img-responsive">
                                    <div class="card-body">
                                        <div class="card-description">
                                            <h5 class="card-title">PRIDONE-DSR</h5>
                                            <p class="card-description">ALU ALU/10*10</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img src="assets/img/CUREZINE-M.jpeg" alt="Rounded Image" class="img-rounded img-responsive">
                                    <div class="card-body">
                                        <div class="card-description">
                                            <h5 class="card-title">CUREZINE-M</h5>
                                            <p class="card-description">ALU ALU/10*10</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img src="assets/img/CUREZINE-5.jpeg" alt="Rounded Image" class="img-rounded img-responsive">
                                    <div class="card-body">
                                        <div class="card-description">
                                            <h5 class="card-title">CUREZINE-5</h5>
                                            <p class="card-description">ALU ALU/10*10</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img src="assets/img/ZONIM.jpeg" alt="Rounded Image" class="img-rounded img-responsive">
                                    <div class="card-body">
                                        <div class="card-description">
                                            <h5 class="card-title">ZONIM</h5>
                                            <p class="card-description">BLISTER/10*10</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img src="assets/img/CurcinCV_625.jpeg" alt="Rounded Image" class="img-rounded img-responsive">
                                    <div class="card-body">
                                        <div class="card-description">
                                            <h5 class="card-title">CURCIN-CV 625</h5>
                                            <p class="card-description">STRIP/10*10</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="syrups" role="tabpanel" aria-labelledby="syrups-tab">
                    <div class="row d-flex flex-wrap align-items-center">
                        <div class="col-md-4 col-sm-4">
                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img src="assets/img/ENZYMEE_SURUP_CURVE2.jpg" alt="Rounded Image" class="img-rounded img-responsive">
                                    <div class="card-body">
                                        <div class="card-description">
                                            <h5 class="card-title">ENZYMEE SYRUP</h5>
                                            <p class="card-description">BOTTLE/200ML</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img src="assets/img/CURELEX_2.jpg" alt="Rounded Image" class="img-rounded img-responsive">
                                    <div class="card-body">
                                        <div class="card-description">
                                            <h5 class="card-title">CURELEX</h5>
                                            <p class="card-description">BOTTLE/200ML</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img src="assets/img/Lycowit.jpeg" alt="Rounded Image" class="img-rounded img-responsive">
                                    <div class="card-body">
                                        <div class="card-description">
                                            <h5 class="card-title">LYCOWIT</h5>
                                            <p class="card-description">BOTTLE/200ML</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img src="assets/img/LIVOCURE_2.jpg" alt="Rounded Image" class="img-rounded img-responsive">
                                    <div class="card-body">
                                        <div class="card-description">
                                            <h5 class="card-title">LIVOCURE</h5>
                                            <p class="card-description">BOTTLE/200ML</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img src="assets/img/CEFIXIE-100.jpeg" alt="Rounded Image" class="img-rounded img-responsive">
                                    <div class="card-body">
                                        <div class="card-description">
                                            <h5 class="card-title">CEFIXIE</h5>
                                            <p class="card-description">BOTTLE/30ML</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="injections" role="tabpanel" aria-labelledby="injections-tab">
                    <div class="row d-flex flex-wrap align-items-center">
                        <div class="col-md-4 col-sm-4">
                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img src="assets/img/PRIDONE-40.jpeg" alt="Rounded Image" class="img-rounded img-responsive">
                                    <div class="card-body">
                                        <div class="card-description">
                                            <h5 class="card-title">PRIDONE 40</h5>
                                            <p class="card-description">VIAL/25*10 ML</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img src="assets/img/CEFTEM-1.5.jpeg" alt="Rounded Image" class="img-rounded img-responsive">
                                    <div class="card-body">
                                        <div class="card-description">
                                            <h5 class="card-title">CEFTEM 1.5</h5>
                                            <p class="card-description">VIAL/25*10 ML</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img src="assets/img/CEFTEM-1GM.jpeg" alt="Rounded Image" class="img-rounded img-responsive">
                                    <div class="card-body">
                                        <div class="card-description">
                                            <h5 class="card-title">CEFTEM 1</h5>
                                            <p class="card-description">VIAL/25*10 ML</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img src="assets/img/ONDCURE-INJ.jpeg" alt="Rounded Image" class="img-rounded img-responsive">
                                    <div class="card-body">
                                        <div class="card-description">
                                            <h5 class="card-title">ONDCURE</h5>
                                            <p class="card-description">AMPOULE/10*1 ML</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img src="assets/img/DICLONE.jpeg" alt="Rounded Image" class="img-rounded img-responsive">
                                    <div class="card-body">
                                        <div class="card-description">
                                            <h5 class="card-title">DICLONE</h5>
                                            <p class="card-description">AMPOULE/10*1 ML</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="supplement" role="tabpanel" aria-labelledby="supplement-tab">
                    <div class="row d-flex flex-wrap align-items-center">
                        <div class="col-md-4 col-sm-4">
                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img src="assets/img/CROTEIN.jpg" alt="Rounded Image" class="img-rounded img-responsive">
                                    <div class="card-body">
                                        <div class="card-description">
                                            <h5 class="card-title">CROTEIN</h5>
                                            <p class="card-description">200GM</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
